body {
    padding-top: 60px;
    padding-bottom:20px;
    background-color:whitesmoke;
}

nav {
    background-color:#0F1B07
    
}

footer {
    background-color: #0F1B07
}

.content {
    margin:45px;
    
}

.navbar-brand {
    font-family: cursive;
    font-size: 30px;
}
.card-title {
    color: #d24136;
}

.btn-primary {
    background-color: #5C821A;
    border-color: #c6d166;
}

a {
    color: #ee693f;
}


.portfolio-item {
    margin-bottom: 30px;
}
