@model AdsBoard.Domain.Entities.Advertisement
    

    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <a href="#">
                        <img class="img-thumbnail" width=750" height="300" src="@Url.Action("GetImage", "Ad",new { Model.AdId})" />
                        @*<img class="img-fluid rounded" src="http://placehold.it/750x300" alt="">*@
                    </a>
                </div>
                <div class="col-lg-6">
                    <h2 class="card-title">@Model.Headline</h2>
                    <p class="card-text">@Model.Details</p>
                    <a href="#" class="btn btn-primary">Детальніше &rarr;</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            Оголошення розмістив
            <a href="#"></a>
        </div>
    </div>



