@model AdsBoard.Domain.Entities.Advertisement
    

    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <a href="#">
                        <img class="img-thumbnail" width=750" height="300" src="@Url.Action("GetImage", "Ad",new { Model.AdId})" />
                     </a>
                </div>
                <div class="col-lg-6">
                    <h2 class="card-title">@Model.Headline</h2>
                    <p class="card-text">@Model.Details</p>
                    @Html.ActionLink("Залишити комментар", "Details", new { Model.AdId }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            Оголошення розмістив
            <a href="#"></a>
        </div>
    </div>



