@model AdsBoard.Domain.Entities.Comment


<div id="result">
    
    <div class="media mb-4">
        <div class="media-body">
            <h5 class="mt-0">@Model.Name</h5>
            @Model.Text
        </div>
    </div>
    
 </div>