@using AdsBoard.WebUI.Models
@using AdsBoard.WebUI.HtmlHelpers
@model AdListViewModel

@{
    ViewBag.Title = "Дошка оголошень ";
}

@foreach (var p in @Model.Advertisements)
{
    @Html.Partial("AdSummary", p)
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>


